/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.email,
.address,
.phone,
.birthday,
.street-address {
    color: rgba(128, 128, 128, 0.664);
}

hr {
    border-color: rgba(128, 128, 128, 0.308);
}

input:focus {
    outline-color: rgba(0, 0, 0, 0.438);
}

/* ================================= 
    Base Layout Styles
==================================== */
/*Header*/
.header {
    font-size: 13px;
    text-transform: uppercase;
    padding: 1rem;
}

.header__heading {
    padding-bottom: 1rem;
    font-weight: normal;
    letter-spacing: 1;
}

.searchbar {
    padding: 0.75rem;
    width: 75%;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 5px 5px;
}

.searchbar::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/*Main*/
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 15px;
    padding: 1rem;
}

.card {
    border: solid 1px lightgray;
    border-radius: 10px 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 0.10s ease-in-out;
}

.card-hover {
    box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
    transform: scale(1.1);
    background-color: white;
}

.card .email {
    word-wrap: break-word;
}

.avatar {
    border-radius: 50%;
}

.name {
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
}

.email { 
    padding-bottom: 0.5rem;
}

/*Modal*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 275px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
    }

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    }

.hidden {
    display: none;
}

.modal .name {
    font-size: 20px;
}

.modal .address {
    padding-bottom: 2rem;
}

.modal .phone {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.modal .street-address {
    padding-bottom: 1.5rem;
}

.controls {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.previous,
.next {
    padding: 0.3rem;
    width: 100px;
    color: black;
    border-radius: 5px 5px;
    background-color: lightgray;
    border: solid 2px black;
    transition: all 0.3s ease-in-out;
}

.previous:hover,
.next:hover {
    background-color: black;
    color: lightgray;
    border: solid 2px black;
}

/* Error*/
.error {
    color: red;
    font-size: 20px;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
}

.error p {
    padding-bottom: 1rem;
}
/* ================================= 
    Media Queries
==================================== */
@media (min-width: 768px){
/* Header */
.header {
    padding-top: 2rem;
    font-size: 11px;
    padding-left: 1rem;
    text-align: left;
}

.header__heading {
    font-size: 16px;
}

/* Main*/
.grid-container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    padding-left: 1rem;
    padding-right: 1rem;
}

.card {
    display: flex;
    justify-content: flex-start;
}

.card .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.card .avatar {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100px;
}

.card .name {
    font-size: 14px;
    width: 150px;
}

.card .email, 
.card .address {
    font-size: 11px;
}

/* Modal */
.overlay {
    top: 15px;
}
.modal-close {
    padding-top: 0.5rem;
    right: 25px;
}

.modal {
    width: 375px;
}
}

/*Error*/
.error {
    width: 750px;
    font-size: 18px;
}

@media (min-width: 1024px) {
/*Header*/ 
.header {
    padding-left: 1.5rem;
}
/* Main*/
.grid-container {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 25px;
    padding-left: 2rem;
    padding-right: 2em;
}

.card {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.card .name {
    font-size: 16px;
}

/*Overlay*/
.overlay {
    top: 25px;
}

/*Error*/
.error {
    width: 1000px;
    font-size: 20px;
}

}